{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 자세히 보기</title>
    <link rel="stylesheet" href="{% static 'css/detail_review.css'%}">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
</head>

<body>
    <div class="container">
        <button type="button" class="btn_back" id="back_btn"><img id="back_image" src="Vector 184.svg"></button>
        <span class="title">평가 상세보기</span>
    </div>

    <div class="account">
        <img class="account_img" src="{% static 'images/account_img.svg' %}">
        <div class="account_info">
            <span class="account_nickname">사용자명</span>
            <span class="account_id">아이디</span>
        </div>
    </div>

    <div class="review_rating">
        <img class="red_star" src="{% static 'images/red_star.svg' %}">
        <span class="overall_rating">0.9</span>
        <span class="full_rating">/5</span>
        <span class="rating_date">0000.00.00 작성</span>
    </div>

    <span class="user_comment">방문자들의 실제 치안 평가, 정성정보, 작성한 내용이 들어갑니다. 방문자들의 실제 치안 평가, 정성정보, 작성한 내용이 들어갑니다.
        방문자들의 실제 치안 평가, 정성정보, 작성한 내용이 들어갑니다. 방문자들의 실제 치안 평가, 정성정보, 작성한 내용이 들어갑니다.
        방문자들의 실제 치안 평가, 정성정보, 작성한 내용이 들어갑니다. 방문자들의 실제 치안 평가, 정성정보, 작성한 내용이 들어갑니다.
        방문자들의 실제 치안 평가, 정성정보, 작성한 내용이 들어갑니다. 방문자들의 실제 치안 평가, 정성정보, 작성한 내용이 들어갑니다.
        방문자들의 실제 치안 평가, 정성정보, 작성한 내용이 들어갑니다.
    </span>

    <div class="blank_space"></div>

    <div class="category">
        <div class="streetlight_grade">
            <img class="streetlight_img" src="{% static 'images/street_streetlight.svg'%}">
            <img class="streetlight_star" src="{% static 'images/red_star.svg'%}">
            <span class="streetlight_rating">0.5</span>
            <span class="streetlight_full_rating">/5</span>
        </div>
        <div class="crowd_grade">
            <img class="crowd_img" src="{% static 'images/street_crowd.svg'%}">
            <img class="crowd_star" src="{% static 'images/yellow_star.svg'%}">
            <span class="crowd_rating">2.5</span>
            <span class="crowd_full_rating">/5</span>
        </div>
        <div class="clean_grade">
            <img class="clean_img" src="{% static 'images/street_clean.svg'%}">
            <img class="clean_star" src="{% static 'images/red_star.svg'%}">
            <span class="clean_rating">0.5</span>
            <span class="clean_full_rating">/5</span>
        </div>
    </div>

    <div class="blank_space"></div>

    <div class="recommended">
        <img class="user_recommend" src="recommend.svg">
        <img class="user_unrecommend" src="unrecommend.svg">
    </div>

    <script src="detail_review.js"></script>
</body>

</html>