{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 자세히 보기</title>
    <link rel="stylesheet" href="../css/detail_e.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
</head>

<body>
    <div class="container">
        <button type="button" class="btn_back" id="back_btn"><img id="back_image"
                src="../images/Vector 184.svg"></button>
        <span class="title">평가 상세보기</span>
    </div>

    <div class="account">
        <img class="account_img" src="../images/account_img.svg">
        <div class="account_info">
            <span class="account_nickname">사랑노래</span>
            <span class="account_id">day6wonpil</span>
        </div>
    </div>

    <div class="review_rating">
        <img class="red_star" src="../images/star_blue.svg">
        <span class="overall_rating">4.1</span>
        <span class="full_rating">/5</span>
        <span class="rating_date">2023.07.15 작성</span>
    </div>

    <span class="user_comment">거리 양쪽에 높은 건물도 많고 가게가 많아요~<br>
        항상 길이 사람들로 붐비네요.<br><br>
        거리에 가로등도 많구 밝게 비추어져 있어 밤에도 안전하고 환한 분위기가 유지되는것같아요!!<br><br>
        이 근방 관리가 잘 되는 거 같은 게 경찰관 배치도 잘 되어있구, 거리 안전도 잘 잡혀있어요!<br><br>
        CCTV도 곳곳에 설치되어 있어 다른 거리에 비해 맘놓고 다니실 수 있을거예요~~
    </span>

    <div class="blank_space"></div>

    <div class="category">
        <div class="streetlight_grade">
            <img class="streetlight_img" src="../images/light_green.svg">
            <img class="streetlight_star" src="../images/star_green.svg">
            <span class="streetlight_rating">4.0</span>
            <span class="streetlight_full_rating">/5</span>
        </div>
        <div class="crowd_grade">
            <img class="crowd_img" src="../images/people_blue.svg">
            <img class="crowd_star" src="../images/star_blue.svg">
            <span class="crowd_rating">4.5</span>
            <span class="crowd_full_rating">/5</span>
        </div>
        <div class="clean_grade">
            <img class="clean_img" src="../images/clean_green.svg">
            <img class="clean_star" src="../images/star_green.svg">
            <span class="clean_rating">4.0</span>
            <span class="clean_full_rating">/5</span>
        </div>
    </div>

    <div class="blank_space"></div>

    <div class="recommended">
        <img class="user_recommend" src="../images/recommend_c.svg">
        <img class="user_unrecommend" src="../images/unrecommend_c.svg">
    </div>

    <script src="../js/detail_e.js"></script>
</body>

</html>