{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home.css %}" />
    <title>Document</title>
</head>

<body>
    <div class="search">
        <input type="text" placeholder="숙소/가게 또는 거리 검색" />
        <svg class="search_icon" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
            fill="none">
            <path
                d="M11.5687 20.4915C6.78095 20.4915 2.90015 16.6096 2.90015 11.8205C2.90015 7.03146 6.78095 3.14957 11.5687 3.14957C16.3564 3.14957 20.2372 7.03146 20.2372 11.8205C20.2372 16.6096 16.3564 20.4915 11.5687 20.4915Z"
                stroke="#202821" stroke-width="1.87479" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M22.4097 22.6646L18.0754 18.3291" stroke="#202821" stroke-width="1.87479" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
    </div>
    <div class="category">
        <div class="st_light">
            <img src="{% static 'images/st_light_black.svg'%}" class="st_light_icon" />
            <p>주변이 밝은 거리</p>
        </div>
        <div class="st_people">
            <img src="{% static 'images/st_people_black.svg' %}" class="st_people_icon" />
            <p>사람이 많은 거리</p>
        </div>
        <div class="st_clean">
            <img src="{% static 'images/st_clean_black.svg' %}" class="st_clean_icon" />
            <p>정돈된 거리</p>
        </div>
        <div class="pl_clean">
            <img src="{% static 'images/pl_clean_black.svg' %}" class="pl_clean_icon" />
            <p>업체 내 공간상태</p>
        </div>
        <div class="pl_station">
            <img src="{% static 'images/pl_station_black.svg' %}" class="pl_station_icon" />
            <p>정류장까지의 거리</p>
        </div>
        <div class="pl_toilet">
            <img src="{% static 'images/pl_toilet_black.svg' %}" class="pl_toilet_icon" />
            <p>업체 화장실 상태</p>
        </div>
    </div>
    <div class="location">
        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="63" viewBox="0 0 63 63" fill="none">
            <g filter="url(#filter0_d_74_149)">
                <circle cx="31.5" cy="29.5" r="21.5" fill="white" />
            </g>
            <path
                d="M31.4971 38.6833C36.5674 38.6833 40.6777 34.5718 40.6777 29.5C40.6777 24.4282 36.5674 20.3167 31.4971 20.3167C26.4267 20.3167 22.3164 24.4282 22.3164 29.5C22.3164 34.5718 26.4267 38.6833 31.4971 38.6833Z"
                stroke="#202821" stroke-width="1.04752" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M39.3728 29.5H41.9942" stroke="#202821" stroke-width="1.04752" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M23.6214 29.5H21" stroke="#202821" stroke-width="1.04752" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M31.4971 21.6222V19" stroke="#202821" stroke-width="1.04752" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M31.4971 37.3778V40" stroke="#202821" stroke-width="1.04752" stroke-linecap="round"
                stroke-linejoin="round" />
            <path
                d="M31.4972 32.1222C32.9449 32.1222 34.1186 30.9482 34.1186 29.5C34.1186 28.0518 32.9449 26.8779 31.4972 26.8779C30.0494 26.8779 28.8757 28.0518 28.8757 29.5C28.8757 30.9482 30.0494 32.1222 31.4972 32.1222Z"
                fill="#202821" />
            <defs>
                <filter id="filter0_d_74_149" x="0.444444" y="0.355555" width="62.1111" height="62.1111"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="1.91111" />
                    <feGaussianBlur stdDeviation="4.77778" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_74_149" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_74_149" result="shape" />
                </filter>
            </defs>
        </svg>
    </div>
    <div class="pin"><img src="" class="score" /></div>
    <script src="{% static 'js/home.js' %}"></script>
</body>

</html>