{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>거리 치안 평가 - 코멘트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/street-safety-comment.css' %} ">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
</head>

<body>
    <div class="container">
        <!-- <img src="Vector 184.svg" class="back_img"/> -->
        <button type="button" class="btn_back" id="back_btn"><img id="back_image"
                src="{% static 'images/Vector 184.svg' %}"></button>
        <span class="title">치안 평가하기</span>
    </div>

    <div class="street">
        <span class="street_now">지금 평가하려는 거리</span>
        <span class="street_name">181-195 Bowery</span>
        <span class="street_place">미국 뉴욕 브루클린</span>
    </div>

    <div class="input-container">
        <textarea id="input-text" placeholder="해당 지점 치안에 대한 정성 정보를 입력해주세요."></textarea>
    </div>

    <button type="button" class="btn" id="img_btn"><img id="btn_image" src="../images/submit_X.svg"></button>
    <script src=" {% static 'js/street-safety-comment.js' %}"></script>
</body>

</html>