@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
body {
    -ms-overflow-style: none;
    background-image: url("./image/map.svg");
    background-repeat: no-repeat;
    background-size: 1676px 850px;
    background-position: center;
    height: 100%;
    margin: 0;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}
/*검색창*/
.search {
    position: fixed;
    width: 22.75rem;
    height: 2.98794rem;
    margin: 3.44rem 0.81rem 0rem 0.81rem;
}
input {
    width: 100%;
    height: 100%;
    border: 0.997px solid #ededed;
    border-radius: 1.494rem;
    font-size: 14px;
    background: #fff;
    box-shadow: 0px 0px 6.977635860443115px 0.9968051314353943px
        rgba(0, 0, 0, 0.1);
    color: #aeaeae;
    font-family: Pretendard;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.search_icon {
    position: absolute;
    width: 1.58188rem;
    height: 1.58231rem;
    margin: 0;
    right: 10px;
    top: 20%;
}

/*가로 스크롤 되는 카테고리*/
.category {
    display: inline-flex;
    width: 100%;
    max-width: 55.9rem;
    height: 2.5rem;
    padding: 0.0625rem 10.125rem 0.0625rem 0.0625rem;
    align-items: flex-start;
    gap: 0.3125rem;
    overflow-x: auto;
    white-space: nowrap;
    margin: 7.5rem 0.81rem 0rem 0.81rem;
    padding-right: 1px;
    position: fixed; /* 상단 네비게이션 등의 높이에 따라 조정 */
}
p {
    display: flex;
    color: #202821;
    font-family: Pretendard;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7935rem;
    margin: 0;
}

/*주변이 밝은 거리*/
.st_light {
    display: flex;
    width: 9.1875rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: #ffffff;
    box-shadow: 0px 0px 4.5333333015441895px 0px rgba(0, 0, 0, 0.22);
    padding: 0.14169rem 0.92081rem;
    gap: 0.425rem;
}
.st_light_icon {
    display: flex;
    width: 1.1765rem;
    height: 1.25rem;
    stroke-width: 1.176px;
    stroke: #202821;
}

/*사람이 많은 거리*/
.st_people {
    display: flex;
    width: 8.25rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: #ffffff;
    box-shadow: 0px 0px 4.5333333015441895px 0px rgba(0, 0, 0, 0.22);
    padding: 0.14169rem 0.92081rem;
    gap: 0.425rem;
}
.st_people_icon {
    display: flex;
    width: 0.84238rem;
    height: 1.34419rem;
    fill: #202821;
}

/*정돈된 거리*/
.st_clean {
    display: flex;
    width: 7.4375rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: #ffffff;
    box-shadow: 0px 0px 4.5333333015441895px 0px rgba(0, 0, 0, 0.22);
    padding: 0.14169rem 0.92081rem;
    gap: 0.425rem;
}
.st_clean_icon {
    display: flex;
    width: 1.37506rem;
    height: 1.375rem;
}

/*업체 내 공간 상태*/
.pl_clean {
    display: flex;
    width: 8.875rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: #ffffff;
    box-shadow: 0px 0px 4.5333333015441895px 0px rgba(0, 0, 0, 0.22);
    padding: 0.14169rem 0.92081rem;
    gap: 0.425rem;
}
.pl_clean_icon {
    display: flex;
    width: 1.21863rem;
    height: 1.21894rem;
}

/*정류장까지의 거리*/
.pl_station {
    display: flex;
    width: 9.75rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: #ffffff;
    box-shadow: 0px 0px 4.5333333015441895px 0px rgba(0, 0, 0, 0.22);
    padding: 0.14169rem 0.92081rem;
    gap: 0.425rem;
}
.pl_station_icon {
    display: flex;
    width: 1.375rem;
    height: 1.40938rem;
}

/*업체 제공 화장실 상태*/
.pl_toilet {
    display: flex;
    width: 10.875rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: #ffffff;
    box-shadow: 0px 0px 4.5333333015441895px 0px rgba(0, 0, 0, 0.22);
    padding: 0.14169rem 0.92081rem;
    gap: 0.425rem;
}
.pl_toilet_icon {
    display: flex;
    width: 1.23406rem;
    height: 1.39163rem;
    fill: #202821;
}

.location {
    display: flex;
    width: 2.6875rem;
    height: 2.6875rem;
    position: fixed;
    bottom: 1.63rem;
    right: 0.81rem;
}
