@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 390px;
    text-align: center;
}
.btn {
    margin-top: 42.19px;
    margin-bottom: 28.19px;
    border: 0;
    background-color: transparent;
    justify-content: center;
}
input {
    width: 336px;
    height: 47.807px;
    border-radius: 11px;
    border: 0.997px solid #ededed;
    background: #fff;
    box-shadow: 0px 0px 6.977635860443115px 0.9968051314353943px
        rgba(0, 0, 0, 0.03);
    justify-content: center;
    margin-top: 8px;
}
p {
    color: #aeaeae;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
}

.input-container p {
    justify-content: flex-start;
    margin-top: 20.19px;
    margin-bottom: 0;
    text-align: start;
    margin-left: 13px;
}

.register p {
    color: #fff;
    text-decoration-line: underline;
    margin-bottom: 18px;
}

#so_btn {
    margin-top: 15px;
}

.logo-title {
    color: #fff;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.16px;
}

.logo-container {
    margin-top: 135px;
}
