@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    position: relative;
    width: 390px;
    height: 844px;
    background: #FFFFFF;
}

.search-bar{
    width: 325px;
    height: 47.807px;
    flex-shrink: 0;
    border-radius: 23.904px;
    border: 0.997px solid #EDEDED;
    background: #FFF;
    box-shadow: 0px 0px 6.977635860443115px 0.9968051314353943px rgba(0, 0, 0, 0.10);
    padding: 0 auto;
}

.search-bar-wrapper {
    margin-bottom: 10px;
    margin-top: 55px;
}
  
.search-bar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
  
.back,
.search {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    padding: 0;
    background: none;
    border: none;
}
  
.back {
    left: 17px;
}
  
.search {
    right: 37px;
}

.input-wrapper input::placeholder {
    color: #AEAEAE;
    font-family: Pretendard-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input-wrapper input {
    padding-left: 47px;
}

.recent{
    display: flex;
    width: 88px;
    height: 34px;
    padding: 2.267px 14.733px;
    justify-content: center;
    align-items: center;
    gap: 6.8px;
    flex-shrink: 0;

    border-radius: 30px;
    border: 1px solid #7A00F2;
    background: #8000FF;

    color: #FFF;
    font-family: Pretendard-Regular;
    font-size: 13.6px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.696px;
}

.hotel{
    display: flex;
    width: 56px;
    height: 34px;
    padding: 2.267px 14.733px;
    justify-content: center;
    align-items: center;
    gap: 6.8px;
    flex-shrink: 0;

    border-radius: 30px;
    border: 1px solid #F2F2F2;
    background: #FFF;

    color: var(--black, #202821);
    font-family: Pretendard-Regular;
    font-size: 13.6px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.696px;
}

.shop{
    display: flex;
    width: 56px;
    height: 34px;
    padding: 2.267px 14.733px;
    justify-content: center;
    align-items: center;
    gap: 6.8px;
    flex-shrink: 0;

    border-radius: 30px;
    border: 1px solid #F2F2F2;
    background: #FFF;

    color: var(--black, #202821);
    font-family: Pretendard-Regular;
    font-size: 13.6px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.696px;
}

.street{
    display: flex;
    width: 56px;
    height: 34px;
    padding: 2.267px 14.733px;
    justify-content: center;
    align-items: center;
    gap: 6.8px;
    flex-shrink: 0;

    border-radius: 30px;
    border: 1px solid #F2F2F2;
    background: #FFF;

    color: var(--black, #202821);
    font-family: Pretendard-Regular;
    font-size: 13.6px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.696px;
}

.buttons{
    display: flex;
    gap: 7px;
    margin-left: 13px;
    margin-top: 15.19px;
}

.icon{
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    margin-left: 13px;
    margin-top: 16px;
}

.name{
    color: var(--black, #202821);
    font-family: Pretendard-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
    margin-bottom: 4px;
    margin-left: 20px;
    margin-top: 12px;
}

.address{
    color: var(--black, #202821);
    font-family: Pretendard-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    margin-top: 2px;
    margin-left: 20px;
    margin-bottom: 2px;
}

.arrow{
    width: 11.269px;
    height: 9.01px;
    flex-shrink: 0;
    margin-left: 45px;
    margin-top: 20px;
}

.shopplace{
    display: flex;
}

.hotelplace{
    display: flex;
}

.streetplace{
    display: flex;
}

.line{
    margin-left: 51px;
}

.buttons button {  
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    background: #FFF;
  
    color: var(--black, #202821);
    font-family: Pretendard-Regular;
    font-size: 13.6px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.696px;
}

.buttons button.active {
    background: #8000FF;
    color: #fff;
}